/* NORMALIZE  START*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* NORMALIZE  END*/
body {
  height: 100%;
}

header h1 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  font-family: Arial;
  font-size: 2.5rem;
  color: #fff;
}

.container {
  height: calc(100% - 50px);
  background-color: #6faeae;
  font-family: Verdana;
}
@media screen and (max-height: 700px) {
  .container {
    height: auto;
    min-height: calc(100% - 50px);
  }
}

.interface {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-height: 700px) {
  .interface {
    padding: 3px 20px;
  }
}
.interface label {
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
@media screen and (max-width: 350px) {
  .interface label {
    display: block;
  }
}
.interface .input-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-height: 700px) {
  .interface .input-block {
    margin-bottom: 10px;
  }
}
.interface .input-block input {
  display: inline-block;
  width: 350px;
  height: 50px;
  padding-left: 0.5em;
  font-size: 3rem;
  border-radius: 20px;
}
@media screen and (max-height: 700px) {
  .interface .input-block input {
    height: 35px;
    font-size: 2rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  .interface .input-block input {
    width: 200px;
  }
}
.interface .btn-clean {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  border: 2px solid;
  border-radius: 30px;
  font-size: 2rem;
  color: white;
  background-color: #cf2b2b8f;
}
@media screen and (max-width: 350px) {
  .interface .btn-clean {
    width: 75px;
    height: 75px;
    border-radius: 50px;
  }
}
@media screen and (max-height: 700px) {
  .interface .btn-clean {
    height: 35px;
  }
}
.interface .btn-clean_all {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 1.5rem;
}
@media screen and (max-width: 350px) {
  .interface .btn-clean_all {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 450px) {
  .interface .btn-clean_all {
    margin-top: 10px;
    padding: 5px;
  }
}
.interface #validateErrors {
  display: none;
  height: 50px;
  margin: 15px 0;
  font-size: 1.5em;
  text-align: center;
  color: #fae164;
}
.interface .output-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .interface .output-block {
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .interface .output-block {
    flex-direction: column;
  }
}
.interface .output-block .result-block {
  display: flex;
  flex-direction: column;
}
.interface .output-block .result-block .result {
  font-family: Arial, serif;
  font-size: 3.5rem;
  transform: scale(0.8, 1);
  text-transform: uppercase;
  font-weight: bold;
}
.interface .output-block .result-block .result-dimension {
  text-transform: none;
  font-size: 1.5rem;
  margin-top: 10px;
  align-self: flex-end;
}

/*# sourceMappingURL=styles.css.map */
