$headerHeight: 80px;
$brakePointM: 700px;
$brakePointS: 350px;

/* NORMALIZE  START*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* NORMALIZE  END*/

body {
  height: 100%;
}

header h1 {
  height: $headerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  font-family: Arial;
  font-size: 2.5rem;
  color: #fff;
}

.container {
  height: calc(100% - #{$headerHeight});
  background-color: #6faeae;
  font-family: Verdana;

  @media screen and (max-height: $brakePointM) {
    height: auto;
    min-height: calc(100% - 80px);
  }
}

.interface {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;

  label {
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
    @media screen and (max-width: $brakePointS) {
      display: block;
      text-align: center;
    }

  }

  .input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;


    @media screen and (max-width: $brakePointS) {
      flex-direction: column;
      margin-bottom: 25px;
    }

    input {
      display: inline-block;
      width: 350px;
      height: 70px;
      padding-left: 0.5em;
      font-size: 3rem;
      border-radius: 20px;

      @media screen and (max-width: $brakePointM){
        width: 250px;
      }
    }
  }

  // Buttons for clean inputs and outputs
  .btn-clean {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border: 2px solid;
    border-radius: 30px;
    font-size: 2rem;
    color: white;
    background-color: #cf2b2b8f;

    @media screen and (max-width: $brakePointS) {
      width: 75px;
      height: 75px;
      margin-top: 15px;
      border-radius: 50px;
    }

    &_all {
      width: auto;
      height: auto;
      padding: 10px;
      font-size: 1.5rem;
      @media screen and (max-width: $brakePointS) {
        padding: 20px 15px;
      }
    }
  }

  #validateErrors {
    height: 50px;
    margin: 15px 0;
    font-size: 1.5em;
    text-align: center;
    color: rgb(250 225 100);
  }

  .output-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    @media screen and (max-width: $brakePointS){
      flex-direction: column;
    }

    .result-block {
      display: flex;
      flex-direction: column;
      .result {
        text-align: center;
        font-family: Arial, serif;
        font-size: 3.5rem;
        transform: scale(0.8, 1);
        text-transform: uppercase;
        font-weight: bold;
      }

      .result-dimension {
        text-transform: none;
        font-size: 1.5rem;
        margin-top: 10px;
        align-self: flex-end;
      }
    }
  }

}


//.btnCalc {
//    display: block;
//    padding: 0.4em 1.5em;
//    margin: 0 auto 50px auto;
//    border-radius: 0.2em;
//    box-sizing: border-box;
//    text-decoration: none;
//    font-family: "Roboto", sans-serif;
//    font-weight: bold;
//    font-size: 4em;
//    color: #6c6b6b;
//    background-color: #CCCCCC;
//    box-shadow: inset 0 -0.6em 1em -0.35em rgb(0 0 0 / 17%), inset 0 0.6em 2em -0.3em rgb(255 255 255 / 15%), inset 0 0 0em 0.05em rgb(255 255 255 / 12%);
//    text-align: center;
//    position: relative;
//
//    &:active {
//        box-shadow: inset 0 0.6em 2em -0.3em rgb(0 0 0 / 15%), inset 0 0 0em 0.05em rgb(255 255 255 / 12%)
//    }
//}
